@mixin image(){
    background-size: cover;
    background-position: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    gap:10px;

    section{
        height: 100%;
        background-color: red;
        display:flex;
        flex-grow: 1;
        transition: all cubic-bezier(0.84, 0.01, 0.24, 1.04) 1s;
    }

    section:hover{
        flex-grow: 2;
        cursor: pointer;
    }
    
    section:nth-child(1){
        @include image();
        background-image: url(./matsya.jpg);
    }

    section:nth-child(2){
        @include image();
        background-image: url(./varaha.jpg);
    }

    section:nth-child(3){
        @include image();
        background-image: url(./krishna.jpg);
    }

    section:nth-child(4){
        @include image();
        background-image: url(./rama.jpg);
    }

    section:nth-child(5){
        @include image();
        background-image: url(./narashima.jpg);
    }

}